.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #77002e;
  padding: 0 10%;
}
@media screen and (max-width: 480px) {
  .header {
    padding: 0 10px;
  }
  .header li {
    margin-left: 0;
    font-size: 0.8rem;
    white-space: nowrap;
  }
}
.logo {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  width: 30%;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 70%;
}

.header li:first-child {
  margin-right: 3rem;
}

.header a {
  text-decoration: none;
  /* font-size: 1rem; */
  color: #fcb8d2;
}

.header a:hover,
.header a:active,
.header a.active {
  color: white;
}
